@using Microsoft.AspNetCore.Components.Routing
@using InstagramDataViewer.Pages

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="typeof(MainLayout)">
        <RouteView RouteData="@routeData" />
        </LayoutView>
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>